<%= provide(:title, 'Bem Vindo ao MercadApp') %>

<div class="center jumbotron">

  <div class="logo-mercadapp">  <%= image_tag("carrinho.png", alt: "logo-mercadapp", class: "ronded mx-auto d-block img-fluid") %> </div>

  <div class="login">
    <div class="corpo-login">
      
      <h1 class="titulo texto-centro"> MercadApp </h1>
      
      <div class="corpo-form-login">
        <%= form_tag do %>
          <%= text_field_tag :name, nil, placeholder: 'Nome', class: 'form-control nome' %>
        
          <%= password_field_tag :senha, nil, placeholder: 'Senha', class: 'form-control senha' %>
        
          <%= submit_tag :Entrar, class: 'btn btn-primary' %>
        
          <%= link_to "Ainda não é cadastrado?", signup_path %>
        <% end %>
      </div>

    </div>  
  </div>

</div>
